<h3 class="indexList">Upcoming DVD releases</h3>
<div id="upcoming_dvds" class="masonry">

  <% @upcoming_dvds.each do |movie| %>
      <div class="item">

        <%= button_to({:controller => :watches, :action => 'create', :movie_id => movie.id}, :class => "buttoner") do %>
            <div class="outliner"><i class="fui-plus"></i></div>
        <% end %>

        <a href="/movies/<%= movie.id %>"> <img src="<%= movie.posters.profile %>"></a>
        <%= link_to movie.name, movie_path(movie.id), :class => "btn btn-blueboy btn-block" %>
        <p class="<% if movie.scores.critics_score > 50 %> red <% else %> green <% end %>">
          Critics: <%= movie.scores.critics_score %></p>
        <p class="<% if movie.scores.audience_score > 50 %> red <% else %> green <% end %>">
          Audience: <%= movie.scores.audience_score %></p>

        <p class="desc"><%= movie.synopsis %></p>

      </div>
  <% end %>
</div>
<br>
<hr>