
<div class="row">
  <div class="jumbotron jumbo-details">
    <div class="icons-holder">
      <span id="collapse"><i class="closer fa fa-times-circle"></i></span>
      <span id="volumer"><i class="tubular-mute fa fa-volume-up"></i></span>
    </div>

    <div class="container" id="accordian">
      <img class="movie-poster" src="<%= @movie.poster %>">

      <h3 id="movie-name"><%= @movie.title %></h3>

      <!--tooltip shows names of likers -->
      <% if @likes.count > 0 %>
          <h4><%= @likes.count %>
            <% if @likes.count == 1 %>
                <a class="simptip-position-top" data-tooltip="<%= @likes.first.name %>"> person </a> would watch again
            <% else %>
                <a class="simptip-position-top" data-tooltip="<% @likes.each do |liker| %>
                    <%= liker.name %>,
                    <% end %>">
                  people </a> would watch again
            <% end %>
          </h4>
      <% end %>

      <p class="<% if @movie.critics_score.to_i > 50 %> red <% else %> green <% end %>">
        Critics: <%= @movie.critics_score %></p>
      <p class="<% if @movie.audience_score.to_i > 50 %> red <% else %> green <% end %>">
        Audience: <%= @movie.audience_score %></p>

      <%= button_to "Add to your watch list",
                    {:controller => :watches,
                     :action => 'create',
                     :movie_id => @movie.movie_id },
                    :class => "btn btn-primary"
      %>
      <br>

      <%= high_chart("div_id", @chart)  %>

      <blockquote>
        <% if @movie.description != '' %>
            <i class="fa fa-info-circle"></i>
            <p><%= @movie.description %></p>
        <% end %>
      </blockquote>

      <%= render 'youtube_results' %>
      <%= render 'similar_results' %>

    </div>
  </div>
</div>



