<div class="row">
  <div class="jumbotron">
    <div class="container">
      <img style="display: inline-block; margin-right: 20px" src="<%= @movie.poster %>">

      <h3 style="display: inline-block"><%= @movie.title %></h3>
      <div class="tile" style="display: inline-block">
      <p class="<% if @movie.critics_score > 50 %> red <% else %> green <% end %>">
        Critics: <%= @movie.critics_score %></p>
      <p class="<% if @movie.audience_score > 50 %> red <% else %> green <% end %>">
        Audience: <%= @movie.audience_score %></p>
      </div>
      <br><br>

      <blockquote>
        <% if @movie.description != '' %>
            <small>Description: </small>
            <p><%= @movie.description %></p>
        <% end %>
      </blockquote>

      <blockquote>
        <% if @movie.movie_reviews != '' && @movie.movie_reviews != nil %>
            <h5>Review from <%=@movie.reviews[0].publication %>:</h5>
            <p><%= @movie.reviews[0].quote  %></p>
        <% end %>
      </blockquote>
      <%= button_to "Add to your watch list",
                    {:controller => :watches,
                     :action => 'create',
                     :movie_id => @movie.movie_id },
                    :class => "btn btn-primary btn-block"
      %>
    </div>
  </div>
</div>




