<ul class="thumbnails" style="list-style-type: none;">
  <% @user.watches.each do |item| %>
      <li class="span5 clearfix">
        <div class="something">
          <a href="/movies/<%= item.movie_id %>" ><img src="<%= item.poster %>" alt="poster" class="pull-left span2 clearfix" style='margin-right:10px'></a>
          <div class="caption" class="pull-left">
            <h4>
              <a href="/movies/<%= item.movie_id %>" ><%= item.title %></a>
            </h4>
            <p class="<% if item.critics_score.to_i > 50 %> red <% else %> green <% end %>">
              Critics: <%= item.critics_score %></p>
            <p class="<% if item.audience_score.to_i > 50 %> red <% else %> green <% end %>">
              Audience: <%= item.audience_score %></p>


            <% if current_user == @user %>

<<<<<<< HEAD
                <div class="tagsinput" style="border: none; background: none">
=======
                <div class="tagsinput" style="border: none; background: none;">
>>>>>>> 6d9031d3939b135ab01de5796c687284019513b8
                    <span class="tag">
                        <span style="position: relative; right: 2px;">Seen it!</span>
                      <%= link_to "", {:controller => :watches, :action => 'destroy', :id => item.id }, :method => :delete, :class => "tagsinput-remove-link" %>
                    </span>
                      <% if item.likers(User).count > 0 %>
                   <span class="tag">
                      <span>would watch it again </span>
                   </span>
                      <% else %>
                   <span class="tag">
                      <span>would NOT watch it again </span>
                   </span>
                      <% end %>
                </div>
                <% else %>

                <%= button_to "Add to your watch list",
                              {:controller => :watches,
                               :action => 'create',
                               :movie_id => item.movie_id,
                               :from_watcher_id => @user.id,
                               :from_watcher => @user.name},
                              :class => "btn btn-primary"
                %>
            <% end %>

          </div>
        </div>
      </li>
  <% end %>
</ul>