
<ul class="timeline">
  <% @user.watches.each do |item| %>
      <li>
        <div class="timeline-badge">
          <i class="fa fa-check-square"> </i>
          <div class="timeago">added <%= time_ago_in_words(item.created_at) %> ago</div>
        </div>
        <div class="timeline-panel">
          <div class="item">
            <a href="/movies/<%= item.movie_id %>" ><img class="movie-poster" src="<%= item.poster %>" alt="poster" class="pull-left span2 clearfix"></a>
            <div class="caption" class="pull-left">
              <h4>
                <a href="/movies/<%= item.movie_id %>" ><%= item.title %></a>
              </h4>
              <p class="<% if item.critics_score.to_i > 50 %> red <% else %> green <% end %>">
                Critics: <%= item.critics_score %></p>
              <p class="<% if item.audience_score.to_i > 50 %> red <% else %> green <% end %>">
                Audience: <%= item.audience_score %></p>

              <% if !item.from_watcher.nil? %>
                  <p>Borrowed from: <%= link_to item.from_watcher, user_path(item.from_watcher_id) %></p>
              <% end %>

              <% if current_user == @user %>

                  <div class="tagsinput" style="border: none; background: none;">
                    <span class="tag">
                        <span style="position: relative; right: 2px;">Seen it!</span>
                      <%= link_to "", {:controller => :watches, :action => 'destroy', :id => item.id }, :method => :delete, :class => "tagsinput-remove-link" %>
                    </span>
                    <% if item.likers(User).count > 0 %>
                   <span class="tag">
                      <span>would watch it again </span>
                   </span>
                    <% else %>
                   <span class="tag">
                      <span>would NOT watch it again </span>
                   </span>
                    <% end %>
                  </div>
              <% else %>

                  <%= button_to "Add to your watch list",
                                {:controller => :watches,
                                 :action => 'create',
                                 :movie_id => item.movie_id,
                                 :from_watcher_id => @user.id,
                                 :from_watcher => @user.name},
                                :class => "btn btn-primary"
                  %>
              <% end %>

            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>