<h3>Users</h3>
<ul class="users">
  <% @users.each do |user| %>


      <li class="users-index">
        <div><a class="btn person" href="users/<%= user.id %>">
          <img style="display:inline-block" src="<%= user.image %>"> </a>
              <span>
                <p><%= link_to user.name, user %> </p>
                <p><%= user.followers(User).count %> followers / following <%= user.followees(User).count %> </p>
                <p><%= user.watches.count %> watches   </p>
              </span>
        </div>
      </li>
  <% end %>
</ul>
