<h3><%= @user.name %></h3>
<%= render 'follow_form' , user: @user%>

<p>Following <%= @user.followees(User).count %>
  <% if @user.followees(User).count == 1 %> person
      <% else %> people
      <% end %>
</p>

<div class="row">
  <ul class="ds-btn follow-list">
    <% @user.followees(User).each do |followee| %>
        <li>
          <div class="btn person" href="<%= followee.id %>">
            <img style="display:inline-block" src="<%= followee.image %>">
              <span>
                <br>
                <%= link_to followee.name, followee %>
              </span>
          </div>
        </li>
    <% end %>
  </ul>
</div>

<br>

<p>Followed by <%= @user.followers(User).count %>
  <% if @user.followers(User).count == 1 %> person
  <% else %> people
  <% end %>
</p>

<div class="row">
  <ul class="ds-btn follow-list">
    <% @user.followers(User).each do |follower| %>
        <li>
          <div class="btn person" href="<%= follower.id %>">
            <img style="display:inline-block" src="<%= follower.image %>">
              <span>
                <br>
                <%= link_to follower.name, follower %>
              </span>
          </div>
        </li>
    <% end %>
  </ul>
</div>


<% if current_user != @user %>
    <h3><%= @user.name %>'s Watch List: </h3>
    <div class="row">
      <%= render 'user_watch_list' %>
    </div>
<% end %>

<% if current_user == @user %>
    <%= link_to "remove account", {:controller => :users, :action => 'destroy', :id => @user }, :method => :delete, :class => 'destroy' %>
<% end %>