<h3><%= @user.name %></h3>
<%= render 'follow_form' , user: @user%>

<p>Followed by <%= @user.followers(User).count %> people</p>
<% @user.followers(User).each do |follower| %>
    <%= link_to follower.name, follower %>
<p><img style="display:inline-block" src="<%= follower.image %>"></p>
<% end %>

<h3><%= @user.name %>'s Watch List: </h3>

<%= render 'user_watch_list' %>