
<%= link_to "back home", root_path %>
<h3>You have <%= @watches.count %> movies left to see</h3>

<ul class="timeline">
  <% @watches.each do |item| %>
      <li>
        <div class="timeline-badge simptip-position-top simptip-movable"  data-tooltip="click to mark as watched">
          <%= button_to({:controller => :watches, :action => 'destroy', :id => item.id}, :remote => true, method: 'delete', :class => "buttoner", 'data-toggle' => 'modal', 'data-target' => "#ajax-modal") do %>
              <i class="fa fa-check-square"> </i>
          <% end %>

          <div class="timeago">added <%= time_ago_in_words(item.created_at) %> ago</div>
        </div>
        <div class="timeline-panel">
          <div class="item">
            <a href="/movies/<%= item.movie_id %>" ><img class="movie-poster" src="<%= item.poster %>" alt="poster" class="pull-left span2 clearfix"></a>
            <div class="caption" class="pull-left">
              <h4>
                <a href="/movies/<%= item.movie_id %>" ><%= item.title %></a>
              </h4>
              <p class="<% if item.critics_score.to_i > 50 %> red <% else %> green <% end %>">
                Critics: <%= item.critics_score %></p>
              <p class="<% if item.audience_score.to_i > 50 %> red <% else %> green <% end %>">
                Audience: <%= item.audience_score %></p>

              <% if !item.from_watcher.nil? %>
                    <p>Borrowed from: <%= link_to item.from_watcher, user_path(item.from_watcher_id) %></p>
              <% end %>


              <div class="tagsinput">
                <span class="tag">
                    <span style="position: relative; right: 4px;">Seen it!</span>
                  <%= link_to "", {:controller => :watches, :action => 'destroy', :id => item.id }, :remote => true, :method => :delete, :class => "tagsinput-remove-link", 'data-toggle' => 'modal', 'data-target' => "#ajax-modal" %>
                </span>
                <span class="liker tag">
                  <%= render 'like_form', likeable: item %>
                </span>
              </div>

            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>



<%= render 'layouts/modal' %>