<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Riva Flix" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Riva Flix" %>">
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
                window.analytics.load("rt97yrejd0");
        window.analytics.page();
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.action_name %> <%= controller.controller_name %> ">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main id="mainer" role="main">
      <div class="row">
       <%= render 'layouts/messages' %>
       <%= yield %>
      </div>
    </main>
  </body>
</html>
